/* Common Styles */
.content,
.content1,
.content2 {
  color: #fff;
  font: 100 24px/100px sans-serif;
  height: 150px;
  width: 897px;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
  font-size: 24px;
  margin-top: 100px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
}

.content div,
.content1 div,
.content2 div {
  height: 50%;
  width: 300px;
}
.red {
  background: orangered;
}
.green {
  background: yellowgreen;
}
.blue {
  background: steelblue;
}

/* Flexbox Styles */
.content {
  display: flex;
  flex-wrap: wrap;
}
.content1 {
  display: flex;
  flex-wrap: nowrap;
}
.content2 {
  display: flex;
  flex-wrap: wrap-reverse;
}

.buttons{
    display: flex;
    flex-wrap: nowrap;
}

body {
    margin: 0;
    padding: 0;
}

.top-footer {
    background-color: #e67474;
    color: #fff;
    padding: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
